:root{
  --speed_slider: 0.7s ease;
  --timeslider: 1500;
}
.menu{
  width: 100%;
  height: 100px;
  background: white;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background: #C0C0C0;
}
.center_menu{
  max-width: 1420px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 120px 63px repeat(3, 1.2fr) 14px 1fr 3fr 1fr 40px;
}
.green{
  background: white;
  display: flex;
  color: black;
  text-decoration: none;
}
.roboto{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  margin: auto;
}
.rub{
  background: white;
  display: flex;
}
.pr{
  margin-right: 10px;
}
.slyderm{
  width: 100%;
  height: 450px;
  background: #2f2e37;
  display: block;
  margin: auto;
  overflow: hidden;
}
.arrow{
  outline: none;
  border: none;
  width: 70px;
  height: 150px;
  position: absolute;
  top:25%;
  z-index: 5;
  cursor: pointer;
  display: flex;
  background: none;
  opacity: 0.5;
}
.l_arrow{

}
.r_arrow{
  right: 0px;

}
.slyde{
 width: 100%;
 height: 100%;
 opacity: 0;
  position:absolute;
}

.slide_m{
/*  background-image: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center top; */

  width: 100%;
  display: block;
  position: absolute;
  opacity: 1.5;
  top:0;
  bottom: 0;
  /*left: 0;
  right: 0;
  margin: auto;*/
}

/*    ЗАНЕСЕНИЕ КАРТИНОК СЛЕВА И СПРАВА*/
@keyframes to_left {
 0%{ left: 0; opacity: 1.5; height: 100%; top: 0; bottom: 0;}
 100%{ left: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
}
@keyframes to_left_click1 {
  0%{ left: -205%; opacity: 0; height: 90%; top: 5%; bottom: 5%;}
  100%{ left: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
}
@keyframes to_left_click2 {
  0%{left: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
  100%{left: 0; opacity: 1.5; height: 100%; top: 0; bottom: 0;}
}
@keyframes to_left_click3 {
  0%{ right: 0; opacity: 1.5; height: 100%; top: 0%; bottom: 0%;}
  100%{right: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
}
@keyframes to_left_click4 {
  0%{ right: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%; display: block;}
  100%{right: -205%; opacity: 0; height: 90%; top: 5%; bottom: 5%; display: none;}
}
.slide_l{
  animation: to_left var(--speed_slider);

  display: block;
  z-index: 2;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: -105%;
  height: 90%;
  opacity: 0.3;
}
.all_slydes{
  position: relative;
  margin: auto;
  width: 800px;
  height: 100%;
}
@keyframes to_right {
 0%{ right: 0; opacity: 1.5; height: 100%; top: 0; bottom: 0;}
 100%{ right: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
}

@keyframes to_right_click1 {
  0%{ left: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
  100%{ left: -205%; opacity: 0; height: 90%; top: 5%; bottom: 5%;}
}
@keyframes to_right_click2 {
  0%{left: 0; opacity: 1.5; height: 100%; top: 0; bottom: 0;}
  100%{left: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
}
@keyframes to_right_click3 {
  0%{right: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%;}
  100%{ right: 0; opacity: 1.5; height: 100%; top: 0%; bottom: 0%;}
}
@keyframes to_right_click4 {
  0%{right: -205%; opacity: 0; height: 90%; top: 5%; bottom: 5%; display: none;}
  100%{ right: -105%; opacity: 0.3; height: 90%; top: 5%; bottom: 5%; display: block;}
}

.slide_r{
  animation: to_right var(--speed_slider);
  display: block;
  z-index: 2;
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: -105%;
  height: 90%;
  opacity: 0.3;
}
.last{
  display: none;
  opacity: 0;

}
.leftar{
  transform: rotateY(180deg);
  margin-left: ;
}
.arr{
  width: 100%;
  margin: auto;

}
.r_arrow:hover{
  transition: opacity 0.3s;
  opacity: 1;
}
.r_arrow:not(:hover){
  transition: opacity 0.3s;
  opacity: 0.5;
}
.l_arrow:hover{
  transition: opacity 0.3s;
  opacity: 1;
}
.l_arrow:not(:hover){
  transition: opacity 0.3s;
  opacity: 0.5;
}
